
{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        {% for game in games %}
        <div class="col-6 col-md-2 mb-4">
            <img src="{{ game.game_image.url }}" class="game_image" alt="{{ game.nom }}">
            <h5>{{ game.nom }}</h5>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}